*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  display: flex;
  gap: 2rem;
}

.grid {
  --grid-width: 16;
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(var(--grid-width), 1fr);
  border: 1px solid #000;
  flex-shrink: 0;
}

.grid.border .cell {
  border: 0.05px solid rgba(0, 0, 0, 0.2);
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.button {
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: #333;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button#save {
  margin-top: auto;
  background-color: #008000;
  color: #fff;
}

.button#clean {
  background-color: crimson;
  color: #fff;
}
